<html>
<body><form action="/hostel/hos_comp/" method="post" >
  {% csrf_token %}
    <h3>InOutList</h3>
    <fieldset>
    
      <input placeholder="Student complaint" name="complaint" type="text" tabindex="1" required autofocus>
    </fieldset>
    <fieldset>
      <input placeholder="Student complaint_time" name="complain_time" type="text" tabindex="2" required>
    </fieldset>
    
     <input type="submit" value="">
    <p3 align="right" class="copyright">Designed by GROUP-05</a></p3>
  </form>
  </body>
  </html>
